.success {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: green;
  height: 100vh;
}
.success h2 {
  color: #fff;
  padding-bottom: 3rem;
  font-size: 3rem;
}

.success .navl {
  background-color: rgb(153, 154, 155);
}
